<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <a href="{% url 'task-create'%}">Add Task</a>
</head>
<body>
    <h1>Task List</h1>
    <table>
        <tr>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td><a href="{% url 'task-detail' task.id %}">View</a></td>
            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>No items in list</h3>
        {% endfor %}
    </table>
</body>
</html>